<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-sharp" size ="large" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "container" >
    <br>

    <ion-item lines="full" color ="light">
      <ion-label position="floating">Email</ion-label>
      <ion-input  required  ></ion-input>
    </ion-item>
    <small>
      Please provide the email address that you used when you signed
      up for your Evernote account.
    </small>
    <br>
    <!-- <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary" role="status" *ngIf = "showSpinner">
        <span class="sr-only">Loading...</span>
      </div>
    </div> -->
    <br>
    <div class="d-flex justify-content-center">
      <ion-button color="danger" >Send</ion-button>
    </div>

</div>
</ion-content>