<ion-header translucent>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-sharp" size ="large" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title align ="center">Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class = "container" >

    <br>



    <ion-item color ="light">
        <ion-label position="floating">Enter Current Password<ion-text color="danger">*</ion-text></ion-label>
        <ion-input  [(ngModel)] = "currPass" required type="password" ></ion-input>
    </ion-item>

    <br>

    <ion-item color ="light">
        <ion-label position="floating">Enter New Password<ion-text color="danger">*</ion-text></ion-label>
        <ion-input  required type="password"  [(ngModel)] = "newPass"></ion-input>
    </ion-item>

    <br>

    <ion-item color ="light">
        <ion-label position="floating">Repeat New Password<ion-text color="danger">*</ion-text></ion-label>
        <ion-input  required type="password"  [(ngModel)] = "repeatPass"></ion-input>
    </ion-item>

    <br>
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary" role="status" *ngIf = "showSpinner">
        <span class="sr-only">Loading...</span>
      </div>
    </div>


<div class="d-flex justify-content-center">
  <ion-button color ="success" size ="default" (click)="updateNewPassword()"> Update Password </ion-button>
</div>
</div>
</ion-content>