<ion-header translucent>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-sharp" size ="large" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title align ="center">Set Up Your Template</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content fullscreen color = "light">
  <div class = "container">
    <ion-text color="dark">
      <h6>( Please set your customer registartion message,the same message would be sent when
        you register a new Customer )</h6>
    </ion-text>
<div class="Notes" padding>
  <ion-item>
    <ion-textarea rows="4" cols="20" placeholder="Please Enter Your Customer Registration Message Here...." [(ngModel)] = "intialMes"></ion-textarea>
  </ion-item>
</div>
<br>
<br>
<ion-text color="dark">
  <h6>( Please set your customer final message,the same message would be sent when
    the Customer appointment done )</h6>
</ion-text>
<div class="Notes" padding>
  <ion-item>
    <ion-textarea rows="4" cols="20" placeholder="Please Enter Your Final Message Here...." [(ngModel)] = "finalMes"></ion-textarea>
  </ion-item>
</div>
<br>
      <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status" *ngIf = "showSpinner">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
<br>
<div class="d-flex justify-content-center">
  <button class ="btn btn-primary mr-2" (click) = "updateTemplate()" >Save</button>
  <button class ="btn btn-danger">Cancel</button>

</div>
</div>
</ion-content>