ion-content ion-toolbar {
  --background: translucent;
}
.Queue{
  font-weight: bold;
  text-align: center;
  font-size: 400;
  background-color: #0078ca;

}

ion-toolbar {
  --background: #0078ca;
  --color:white;
}