<ion-header [translucent]="true">
  <ion-toolbar>

    <!-- <ion-icon name="search-circle-outline" slot="end" size="large"></ion-icon> -->

    <!-- <ion-icon slot ="end" name="add-circle-outline" (click)="addQueue()" size="large">Add Queue</ion-icon> -->

    <ion-button (click)="addQueue()" slot ="end" color ="light"> + Add Queue</ion-button>


    <!-- <ion-icon name="calendar-sharp" size ="large" slot ="end" (click) = "toggleCalenderPreview()"></ion-icon> -->


    <ion-title align ="center" >
      Admin
    </ion-title>

    <!-- <ion-button color="success" (click)="addQueue()">AddQueue</ion-button> -->

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color ="light">

  <div class="container">
  
    <!-- <div class="ion-padding" *ngIf ="previewCalender">
      <ion-datetime display-format=" DD MMM YYYY" ></ion-datetime>
      <ion-calendar  display-format=" DD MMM YYYY">
      </ion-calendar>

    </div> -->


    <ion-item color ="light">
      <ion-label >Select Date and Month</ion-label>
      <ion-datetime [(ngModel)]="selectedDate" (ionChange)="onChangeDate()" display-format=" DD MMM YYYY" ></ion-datetime>
    </ion-item>


  <ion-grid fixed>
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary" role="status" *ngIf = "showSpinner">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <ion-row>

  <ion-col size="12"
  size-xs ="12"
  size-sm ="12"
  size-md ="12"
  size-lg ="6" *ngFor ="let item of dataNew; let i = index; ">

  <ion-list>
    
    <ion-item  class="Queue" color ="primary">
      <ion-icon name="create-outline" slot="end" color="dark" size="large" (click)= "editQueue(item)"></ion-icon>
      <ion-icon name="list-outline" slot="end" color="dark" size="large" (click)= "queueSelected(item)"  ></ion-icon>

      <h3 align ="center">{{item.name}}</h3>
    </ion-item>
   

   

    <div *ngFor = "let child of item.appointments ; let j = index;">
      <ion-item   *ngIf ="child.status === 'ACTIVE'" >

      <ion-icon name="create-outline" slot="end" color="primary" size="large" (click)= "appointmentSelected(child)" ></ion-icon>
      <ion-icon name="close-circle-outline" slot="end" color="danger" size="large" (click)="alertCancel(i,j)"></ion-icon>

      <ion-icon name="checkmark-circle-outline" slot="end" color="success" size="large" (click)="alertConfirm(i,j)"></ion-icon>

      <label> {{child.customer.name}}</label>
     
    </ion-item>
    <br>
  </div>

  </ion-list>
  <div class="d-flex justify-content-center">
    <ion-button color="success" (click)= "addAppointment(item)"> + Add Customer </ion-button>
</div>

</ion-col>
</ion-row>
</ion-grid>



</div>

</ion-content>
